{
  "parser"  : "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env"     : {
    "browser" : true,
    "node": true,
    "jasmine": true,
    "mocha": true
  },
  "globals": {
    "window": false,
    "sinon": false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__TEST__"     : false,
    "__CLIENT__"     : false,
    "__SERVER__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "space-infix-ops": 0,
    "max-len": [2, 120, 2],
    "no-spaced-func": 2,
    "space-before-function-paren": [2, "never"],
    "no-multi-spaces": [2, { exceptions: { "VariableDeclarator": true, "ImportDeclaration": true } }],
    "new-cap": [2, {
      "newIsCap": false
    }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^next$" }]
  }
}
